.cardname {
    font-weight: bolder;
    text-align: center;
    font-size: 20pt;
    padding-top: 4pt;
}
.delivery-date {
    font-weight: bolder;
    text-align: center;
    font-size: 26pt;
    padding-top: 4pt;
}
.item {
    display: flex;
    flex-direction: column;
    margin: 3pt;
}
.itemname{
    font-size: 11pt;
    font-family: monospace;

}
.quantity{
    font-weight: bold;
    text-align: center;
}
.items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pagination{
    font-weight: bolder;
    position: relative;
    font-size: 27pt;
    text-align: right;
}
table{
    border-collapse: collapse;
}
.tag{
    padding-left: 2mm;
    border: 2px red solid;
    height: 142mm;
    width: 100%;
    float: left;
    outline: 0 #ac3939 solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 4pt;
}
.tag_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.td{
    font-size: large;
    font-weight: bold;
}
                  
td,th {
      border: 2px solid #ccc;
      text-align: center;
}
.thSpoi{
      background: #333;
      color: white;
      padding-left: 8px;
      padding-right: 8px;
      border: 2px solid #ccc;
}
.tour{
    position: relative;
    font-size: 27pt;
    font-weight: bold;
}